<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <clear/>
  <add name="MySQL Data Provider" providerName="MySql.Data.MySqlClient"  connectionString="SERVER=192.168.56.101; PORT=3306;DATABASE=test; UID=root;PWD=omaromar" />

  </connectionStrings>

</configuration>